<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.app.imperial.mapper.ImpOrdercheckHisMapper">
    
    <resultMap type="impOrdercheckHis" id="impOrdercheckHisResult">
        <result property="id"    column="id"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="checkFlag"    column="check_flag"    />
        <result property="checker"    column="checker"    />
        <result property="opinionType"    column="opinion_type"    />
        <result property="checkOpinion"    column="check_opinion"    />
    </resultMap>

    <sql id="selectImpOrdercheckHisVo">
        select id, order_number, check_flag, checker ,opinion_type ,check_opinion,inserttime from imp_ordercheck_his
    </sql>

    <select id="selectImpOrdercheckHisList" parameterType="impOrdercheckHis" resultMap="impOrdercheckHisResult">
        <include refid="selectImpOrdercheckHisVo"/>
        <where>  
            <if test="orderNumber != null  and orderNumber != ''"> and order_number = #{orderNumber}</if>
            <if test="checkFlag != null  and checkFlag != ''"> and check_flag = #{checkFlag}</if>
            <if test="checker != null "> and checker = #{checker}</if>
            <if test="opinionType != null  and opinionType != ''"> and opinion_type = #{opinionType}</if>
            <if test="checkOpinion != null  and checkOpinion != ''"> and check_opinion = #{checkOpinion}</if>
        </where>
    </select>
    
    <select id="selectImpDicItemById" parameterType="Long" resultMap="impOrdercheckHisResult">
        <include refid="selectImpOrdercheckHisVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertOrdercheckHis" parameterType="impOrdercheckHis" useGeneratedKeys="true" keyProperty="id">
        insert into imp_ordercheck_his
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNumber != null">order_number,</if>
            <if test="checkFlag != null">check_flag,</if>
            <if test="checker != null">checker,</if>
            <if test="opinionType != null">opinion_type,</if>
            <if test="checkOpinion != null">check_opinion,</if>
            inserttime,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderNumber != null">#{orderNumber},</if>
            <if test="checkFlag != null">#{checkFlag},</if>
            <if test="checker != null">#{checker},</if>
            <if test="opinionType != null">#{opinionType},</if>
            <if test="checkOpinion != null">#{checkOpinion},</if>
            now(),
         </trim>
    </insert>

 <!--
    <update id="updateImpDicItem" parameterType="ImpDicItem">
        update imp_dic_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemCode != null">item_code = #{itemCode},</if>
            <if test="itemContent != null">item_content = #{itemContent},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteImpDicItemById" parameterType="Long">
        delete from imp_dic_item where id = #{id}
    </delete>

    <delete id="deleteImpDicItemByIds" parameterType="String">
        delete from imp_dic_item where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete> -->

</mapper>