<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('清关系统基础数据表处理列表')" />
</head>
<body class="gray-bg">
<input type="hidden" id="tackingNumber1" th:value="${tackingNumber1}"/>
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 select-table table-bordered" id="refuseMsgTbDiv" style="height: 350px;overflow: auto;">
                <table id="refuseMsgTable" data-height="350" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
<!--i18n国际化字符串 begin-->
<script th:inline="javascript">
    var orderNumber=[[#{orderNumber}]];
    var Detail=[[#{Detail}]];
    var Rejectiondetails=[[#{Rejection.details}]];
    var Reviewer=[[#{Reviewer}]];
    var Rejectiontype=[[#{Rejection.type}]];
    var Reasonsforrejection=[[#{Reasons.for.rejection}]];
    var Timeofrejection=[[#{Time.of.rejection}]];
</script>
<!--end-->
    <script th:src="@{/js/app/impbasicsubmit/refusemsg.js}"></script>
</body>
</html>