<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>

<th:block th:include="include :: header('发货方信息完善页面')" />
<link th:href="@{/css/app/shipperregister/customerinfo.css}" rel="stylesheet"/>
</head>
<body class="white-bg" >
	<div class="container-div" >
		<div class="row">
			<form id="customerForm" th:object="${impCustomerInfo}">
				<table class="basicMsgTable">
					<tr class="basicMsgTitle">
						<td colspan="5">
							<label style="width:100%;text-align:center;">发货方信息详情</label>
							<div style="border:1px solid #44cef6;width:100%;"></div> 
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>用户名</label></td>
						<td class="tdInput1"><input class="inputBottomLine" id="customer" name="customer" th:field="*{customer}"/></td>
						<td class="tdLabel2"><label>用户所在国</label></td>
						<td class="tdInput2"><input class="inputBottomLine" id="customerState" name="customerState" th:field="*{customerState}"/></td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>注册号</label></td>
						<td class="tdInput1"><input class="inputBottomLine"  id="registerNo" name="registerNo" th:field="*{registerNo}"/></td>
						<td class="tdLabel2"><label>注册地址</label></td>
						<td class="tdInput2"><input class="inputBottomLine" id="registerLocation" name="registerLocation" th:field="*{registerLocation}"/></td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>注册EORI号</label></td>
						<td colspan="1" class="tdInput1"><input class="inputBottomLine" id="registerEori" name="registerEori" th:field="*{registerEori}"/></td>
					</tr>
					<tr class="basicMsgSonTitle">
						<td colspan="5">
							<label style="width:100%">主联系号码与邮箱</label>
							<div style="border:1px solid #44cef6;width:100%;"></div> 
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>主联系号码1</label></td>
						<td class="tdInput1"><input class="inputBottomLine" id="mainConn1" name="mainConn1" th:field="*{mainConn1}"/></td>
						<td class="tdLabel2"><label>主联系邮箱1</label></td>
						<td class="tdInput2"><input class="inputBottomLine" id="mainMail1" name="mainMail1" th:field="*{mainMail1}"/></td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>主联系号码2</label></td>
						<td class="tdInput1"><input class="inputBottomLine"  id="mainConn2" name="mainConn2" th:field="*{mainConn2}"/></td>
						<td class="tdLabel2"><label>主联系邮箱2</label></td>
						<td class="tdInput2"><input class="inputBottomLine" id="mainMail2" name="mainMail2" th:field="*{mainMail2}"/></td>
						<td style="width:5%;">
							<span style="margin-left:10px;cursor:pointer;"><img src="../../img/app/add.png"></img></span>
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>操作人联系号码1</label></td>
						<td class="tdInput1"><input class="inputBottomLine"  id="operConn1" name="operConn1" th:field="*{operConn1}"/></td>
						<td class="tdLabel2"><label>操作人联系邮箱1</label></td>
						<td class="tdInput2"><input class="inputBottomLine" id="operMail1" name="operMail1" th:field="*{operMail1}"/></td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>操作人联系号码2</label></td>
						<td class="tdInput1"><input class="inputBottomLine"  id="operConn2" name="operConn2" th:field="*{operConn2}"/></td>
						<td class="tdLabel2"><label>操作人联系邮箱2</label></td>
						<td class="tdInput2"><input class="inputBottomLine" id="operMail2" name="operMail2" th:field="*{operMail2}"/></td>
						<td style="width:5%;">
							<span style="margin-left:10px;cursor:pointer;"><img src="../../img/app/add.png"></img></span>
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>财务联系号码1</label></td>
						<td class="tdInput1"><input class="inputBottomLine" id="financeConn1" name="financeConn1" th:field="*{financeConn1}"/></td>
						<td class="tdLabel2"><label>财务联系邮箱1</label></td>
						<td class="tdInput2"><input class="inputBottomLine" id="financeMail1" name="financeMail1" th:field="*{financeMail1}"/></td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>财务联系号码2</label></td>
						<td class="tdInput1"><input class="inputBottomLine" id="financeConn2" name="financeConn2" th:field="*{financeConn2}"/></td>
						<td class="tdLabel2"><label>财务联系邮箱2</label></td>
						<td  class="tdInput2"><input class="inputBottomLine" id="financeMail2" name="financeMail2" th:field="*{financeMail2}"/></td>
						<td style="width:5%;">
							<span style="margin-left:10px;cursor:pointer;"><img src="../../img/app/add.png"></img></span>
						</td>
					</tr>
					
					<tr class="basicMsgSonTitle">
						<td colspan="5">
							<label style="width:100%">资料与证书</label>
							<div style="border:1px solid #44cef6;width:100%;"></div> 
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>SOP文件</label></td>
						<td class="tdInput1"><input type="file" class="inputBottomLine" /></td>
						<td class="tdLabel2"><label>有效期</label></td>
						<td class="tdInput2">
							<select id="stateSelect" class="form-control">
	                             <option value="0" selected >12个月</option>
	                             <option value="1">3个月</option>
	                             <option value="2">6个月</option>
	                         </select>
						</td>
						<td style="width:5%;">
							<span style="margin-left:10px;cursor:pointer;"><img src="../../img/app/hisRecords.png"></img></span>
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>职责划分文档</label></td>
						<td class="tdInput1"><input type="file" class="inputBottomLine" /></td>
						<td class="tdLabel2"><label>有效期</label></td>
						<td class="tdInput2">
							<select id="stateSelect" class="form-control">
	                             <option value="0" selected >12个月</option>
	                             <option value="1">3个月</option>
	                             <option value="2">6个月</option>
	                         </select>
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>授权委托书</label></td>
						<td class="tdInput1"><input type="file" class="inputBottomLine" /></td>
						<td class="tdLabel2"><label>有效期</label></td>
						<td class="tdInput2">
							<select id="stateSelect" class="form-control">
	                             <option value="0" selected >12个月</option>
	                             <option value="1">3个月</option>
	                             <option value="2">6个月</option>
	                         </select>
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>SLA合同</label></td>
						<td class="tdInput1"><input type="file" class="inputBottomLine" /></td>
						<td class="tdLabel2"><label>有效期</label></td>
						<td class="tdInput2">
							<select id="stateSelect" class="form-control">
	                             <option value="0" selected >12个月</option>
	                             <option value="1">3个月</option>
	                             <option value="2">6个月</option>
	                         </select>
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>NDA保密协议</label></td>
						<td class="tdInput1"><input type="file" class="inputBottomLine" /></td>
						<td class="tdLabel2"><label>有效期</label></td>
						<td  class="tdInput2">
							<select id="stateSelect" class="form-control">
	                             <option value="0" selected >12个月</option>
	                             <option value="1">3个月</option>
	                             <option value="2">6个月</option>
	                         </select>
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>公司登记副本</label></td>
						<td class="tdInput1"><input type="file" class="inputBottomLine" /></td>
						<td class="tdLabel2">
							<label>有效期</label>
						</td>
						<td class="tdInput2">
							<select id="stateSelect" class="form-control">
	                             <option value="0" selected >12个月</option>
	                             <option value="1">3个月</option>
	                             <option value="2">6个月</option>
	                         </select>
						</td>
						<td style="style:5%"></td>
					</tr>
					<tr class="basicMsgSonTitle">
						<td colspan="5">
							<label style="width:100%">附加文档</label>
							<div style="border:1px solid #44cef6;width:100%;"></div> 
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1">附加文档1</label></td>
						<td class="tdInput1"><input type="file"  style="width:100%;border:none;background-color:#f0f0f4" /></td>
						<td class="tdLabel2">
							<label>有效期</label>
						</td>
						<td class="tdInput2">
							<select id="stateSelect" class="form-control">
	                             <option value="0" selected >12个月</option>
	                             <option value="1">3个月</option>
	                             <option value="2">6个月</option>
	                         </select>
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>附加文档2</label></td>
						<td class="tdInput1"><input type="file" style="width:100%;border:none;background-color:#f0f0f4" /></td>
						<td class="tdLabel2">
							<label>有效期</label>
						</td>
						<td class="tdInput2">
							<select id="stateSelect" class="form-control">
	                             <option value="0" selected >12个月</option>
	                             <option value="1">3个月</option>
	                             <option value="2">6个月</option>
	                         </select>
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>附加文档3</label></td>
						<td class="tdInput1"><input type="file" style="width:100%;border:none;background-color:#f0f0f4" /></td>
						<td class="tdLabel2">
							<label>有效期</label>
						</td>
						<td class="tdInput2">
							<select id="stateSelect" class="form-control">
	                             <option value="0" selected >12个月</option>
	                             <option value="1">3个月</option>
	                             <option value="2">6个月</option>
	                         </select>
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>附加文档4</label></td>
						<td class="tdInput1"><input type="file" style="width:100%;border:none;background-color:#f0f0f4" /></td>
						<td class="tdLabel2">
							<label>有效期</label>
						</td>
						<td class="tdInput2">
							<select id="stateSelect" class="form-control">
	                             <option value="0" selected >12个月</option>
	                             <option value="1">3个月</option>
	                             <option value="2">6个月</option>
	                         </select>
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>附加文档5</label></td>
						<td class="tdInput1"><input type="file" style="width:100%;border:none;background-color:#f0f0f4" /></td>
						<td class="tdLabel2">
							<label>有效期</label>
						</td>
						<td class="tdInput2">
							<select id="stateSelect" style="width:100%" class="form-control">
	                             <option value="0" selected >12个月</option>
	                             <option value="1">3个月</option>
	                             <option value="2">6个月</option>
	                         </select>
						</td>
						<td style="width:5%;">
							<span style="margin-left:10px;cursor:pointer;"><img src="../../img/app/add.png"></img></span>
						</td>
					</tr>
					<tr class="basicMsgSonTitle">
						<td colspan="5">
							<label style="width:100%">网络联盟</label>
							<div style="border:1px solid #44cef6;width:100%;"></div> 
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td colspan="5" style="width:100%">
							<label style="width:15%;margin-left:10%">
								<input type="checkbox">WCA General
							</label>
							<label style="width:15%">
								<input type="checkbox">WCA eCommerce
							</label>
							<label style="width:15%">
								<input type="checkbox" >WCA eCommerce
							</label>
							<label style="width:15%">
								<input type="checkbox">NAP
							</label>
							<label style="width:15%">
								<input type="checkbox">WFN
							</label>
						</td>
					</tr>
					<tr class="basicMsgSonTitle">
						<td colspan="5">
							<label style="width:100%">信用申请</label>
							<div style="border:1px solid #44cef6;width:100%;"></div> 
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>公司财务审核凭证</label></td>
						<td class="tdInput1"><input type="file" style="width:100%;border:none;background-color:#f0f0f4" /></td>
						<td class="tdLabel2">
							<label>信用批准限额</label>
						</td>
						<td class="tdInput2">
							<select id="stateSelect" class="form-control">
	                             <option value="0" selected >1周</option>
	                             <option value="1">2周</option>
	                             <option value="2">1月</option>
	                         </select>
						</td>
					</tr>
					<tr class="basicMsgTr">
						<td class="tdLabel1"><label>附加保函核实</label></td>
						<td class="tdInput1"><input type="file" style="width:100%;border:none;background-color:#f0f0f4" /></td>
						<td class="tdLabel2">
							<label>信用有效期</label>
						</td>
						<td class="tdInput2">
							<select id="stateSelect" class="form-control">
	                             <option value="0" selected >1年</option>
	                             <option value="1">2年</option>
	                             <option value="2">3年</option>
	                         </select>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
<th:block th:include="include :: footer" />
</body>
</html>