<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>

    <th:block th:include="include :: header('发货机构注册页面')" />
    <style type="text/css">

		
	
</style>
<link th:href="@{/css/app/shipperregister/shipperregister.css}" rel="stylesheet"/>
</head>
<body class="white-bg" >
<div style="position: relative;width:100%;height:100%">
	<div class="leftFormDiv">
		<div class="">
	        <form class="form-horizontal m" id="form-data-add">
	            <div class="form-group">    
	                <label class="col-sm-5 control-label is-required">机构名：</label>
	                <div class="col-sm-7">
	                    <input name="tackingNumber1" id="tackingNumber1" class="form-control" type="text">
	                </div>
	            </div>
	            <div class="form-group">    
	                <label class="col-sm-5 control-label is-required">机构代码：</label>
	                <div class="col-sm-7">
	                    <input name="tackingNumber2" class="form-control" type="text">
	                </div>
	            </div>
	            <div class="form-group">    
	                <label class="col-sm-5 control-label is-required">机构法人：</label>
	                <div class="col-sm-7">
	                    <input name="bagNumber" class="form-control" type="text">
	                </div>
	            </div>
	            <div class="form-group">    
	                <label class="col-sm-5 control-label is-required">手机号：</label>
	                <div class="col-sm-7">
	                    <input name="boxNumber" class="form-control" type="text">
	                </div>
	            </div>
	            <div class="form-group">    
	                <label class="col-sm-5 control-label is-required">邮箱：</label>
	                <div class="col-sm-7">
	                    <input name="palletNumber" class="form-control" type="text">
	                </div>
	            </div>
	            <div class="form-group">    
	                <label class="col-sm-5 control-label ">货物类型：</label>
	                <div class="col-sm-7">
	                    <input name="containerNumber" class="form-control" type="text">
	                </div>
	            </div>
	            <div class="form-group">    
	                <label class="col-sm-5 control-label">托运方式：</label>
	                <div class="col-sm-7">
	                    <input name="reference1" class="form-control" type="text">
	                </div>
	            </div>
	            
	            <div class="form-group">
	            	<label class="col-sm-5 control-label">业务类型：</label>
	            	<div class="col-sm-7">
						<div id="mySelect" class="mySelect dropup" style=""></div>
	            	</div>
	            </div>
	        </form>
	    </div>
	</div>
	<div  class="rightTranRule" >
	<div class="card-fouth">
		<div class="chargeRules">收费规则</div>
		<div class="desc desc-list" >
			<div class="industry first active">
				<span>海运</span>
			</div>
			<div class="industry">
				<span>陆运</span>
			</div>
	
			<div class="industry">
				<span>空运</span>
			</div>
	
			<div class="industry">
				<span>咨询</span>
			</div>
			<div class="industry">
				<span>其他</span>
			</div>
		</div>
		<div class="case-container" >
			<div class="case-panel tab-1 active">
				<h2>海运内容</h2>
				<div></div>
			</div>
			<div class="case-panel tab-2">
				<h2>陆运内容</h2>
			</div>
			<div class="case-panel tab-3">
				<h2>空运内容</h2>
			</div>
			<div class="case-panel tab-4">
				<h2>咨询内容</h2>
			</div>
			<div class="case-panel tab-5">
				<h2>其他内容</h2>
			</div>
			<button type="button" id="selChargeType" class="btn btn-primary" style="position:absolute;margin-top: 24%;margin-left: 700px;">选择此规则</button>
			<!--<button type="button" id="selChargeType" class="btn btn-primary" style="position:absolute;bottom:25%;right:5%;">选择此规则</button>-->
		</div>
	</div>
</div>
</div>

<div style="clear:both"></div>
<div style="margin-top: 100px;">
	<a id ="batchImport" onclick="" style="margin-top: 60%;">保存</a>
</div>
<th:block th:include="include :: footer" />
<script type="text/javascript">
	$(function () {
		var bussiTypeArr = [];   //存储下拉框内容 数组形式
		var mySelect= $("#mySelect").mySelect({
			  mult:true,//true为多选,false为单选
			  option:[//选项数据
				  {label:"海运",value:0},
				  {label:"陆运",value:1},
				  {label:"空运",value:2},
				  {label:"咨询",value:3},
				  {label:"其他",value:4}
			  ]
			  /* onChange:function(res){//选择框值变化返回结果
				console.log(res)
			  } */
		  });
		//点击 选择此规则之后 将tap页签和左边业务类型下拉框内容保持一致
		$("#selChargeType").on('click',function(){
			var activeObjectIndex = $('.desc-list').find(".active").index();
			if($.inArray(activeObjectIndex,bussiTypeArr)<0){    //只添加不重复的数据
				bussiTypeArr.push(activeObjectIndex);
				}
			mySelect.setResult(bussiTypeArr);   //给左边业务类型下拉框 重新赋值
		})
		//tap状态
		$('.industry').hover(function() {
			var i = $(this).index(); //当前索引
			$(this).addClass('active').siblings().removeClass('active');
			$('.case-panel').eq(i).addClass('active').siblings().removeClass('active');
		})
})
</script>
</body>
</html>