<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改清关系统基础数据表处理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-data-draftEdit" th:object="${impBasicData}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Bag.TrackNumber1}]]：</label>
                <div class="col-sm-8">
                    <input name="tackingNumber1" th:field="*{tackingNumber1}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Bag.TrackNumber2}]]：</label>
                <div class="col-sm-8">
                    <input name="tackingNumber2" th:field="*{tackingNumber2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{packet.number}]]：</label>
                <div class="col-sm-8">
                    <input name="bagNumber" th:field="*{bagNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Outer.box.number}]]：</label>
                <div class="col-sm-8">
                    <input name="boxNumber" th:field="*{boxNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Pallet.number}]]：</label>
                <div class="col-sm-8">
                    <input name="palletNumber" th:field="*{palletNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Container.number}]]：</label>
                <div class="col-sm-8">
                    <input name="containerNumber" th:field="*{containerNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Reference.code1}]]：</label>
                <div class="col-sm-8">
                    <input name="reference1" th:field="*{reference1}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Reference.code2}]]：</label>
                <div class="col-sm-8">
                    <input name="referrnce2" th:field="*{referrnce2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Shipper.Name}]]：</label>
                <div class="col-sm-8">
                    <input name="shipperName" th:field="*{shipperName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Shipper.identification.code}]]：</label>
                <div class="col-sm-8">
                    <input name="shipperReference" th:field="*{shipperReference}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Consignee.Name}]]：</label>
                <div class="col-sm-8">
                    <input name="consigneeName" th:field="*{consigneeName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Shipping.address1}]]：</label>
                <div class="col-sm-8">
                    <textarea name="lineAddress1" class="form-control">[[*{lineAddress1}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Shipping.address2}]]：</label>
                <div class="col-sm-8">
                    <textarea name="lineAddress2" class="form-control">[[*{lineAddress2}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Shipping.address3}]]：</label>
                <div class="col-sm-8">
                    <textarea name="lineAddress3" class="form-control">[[*{lineAddress3}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{City}]]：</label>
                <div class="col-sm-8">
                    <input name="town" th:field="*{town}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{States.and.counties}]]：</label>
                <div class="col-sm-8">
                    <input name="state" th:field="*{state}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{zipcode}]]：</label>
                <div class="col-sm-8">
                    <input name="postCode" th:field="*{postCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Country.code}]]：</label>
                <div class="col-sm-8">
                    <input name="countryCode" th:field="*{countryCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{zipcode}]]：</label>
                <div class="col-sm-8">
                    <input name="email" th:field="*{email}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Tel}]]：</label>
                <div class="col-sm-8">
                    <input name="phone" th:field="*{phone}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Number.of.packages}]]：</label>
                <div class="col-sm-8">
                    <input name="pieces" th:field="*{pieces}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Weight}]]：</label>
                <div class="col-sm-8">
                    <input name="weight" th:field="*{weight}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Unit.of.weight}]]：</label>
                <div class="col-sm-8">
                    <input name="weightUom" th:field="*{weightUom}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{unknown}]]：</label>
                <div class="col-sm-8">
                    <input name="value" th:field="*{value}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{freight}]]：</label>
                <div class="col-sm-8">
                    <input name="shippingRate" th:field="*{shippingRate}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Currency}]]：</label>
                <div class="col-sm-8">
                    <input name="currency" th:field="*{currency}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">DDU/DDP：</label>
                <div class="col-sm-8">
                    <input name="incoterms" th:field="*{incoterms}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Import.purpose}]]：</label>
                <div class="col-sm-8">
                    <input name="importPurpose" th:field="*{importPurpose}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{unknown}]]：</label>
                <div class="col-sm-8">
                    <input name="eoriNumber" th:field="*{eoriNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{unknown}]]：</label>
                <div class="col-sm-8">
                    <input name="mossNumber" th:field="*{mossNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Description.of.goods}]]：</label>
                <div class="col-sm-8">
                    <textarea name="description" class="form-control">[[*{description}]]</textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{unknown}]]：</label>
                <div class="col-sm-8">
                    <input name="hsCode" th:field="*{hsCode}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{ The.quantity.of.goods}]]：</label>
                <div class="col-sm-8">
                    <input name="itemQuantity" th:field="*{itemQuantity}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{unknown}]]：</label>
                <div class="col-sm-8">
                    <input name="itemValue" th:field="*{itemValue}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{unknown}]]：</label>
                <div class="col-sm-8">
                    <input name="skuNumber" th:field="*{skuNumber}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{return.way}]]：</label>
                <div class="col-sm-8">
                    <input name="returnInstruction" th:field="*{returnInstruction}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Sales.link}]]：</label>
                <div class="col-sm-8">
                    <textarea name="salesLink" class="form-control">[[*{salesLink}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Terminal.dispatcher}]]：</label>
                <div class="col-sm-8">
                    <input name="lastMileProvider" th:field="*{lastMileProvider}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{ Terminal.account.name}]]：</label>
                <div class="col-sm-8">
                    <input name="lastMileAccountName" th:field="*{lastMileAccountName}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">末端服务：</label>
                <div class="col-sm-8">
                    <input name="lastMileService" th:field="*{lastMileService}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:src="@{/js/app/impbasicdatadraft/editdraft.js}"></script>
    <!--i18n国际化字符串 begin-->
    <script th:inline="javascript">
        var Theordernumberalreadyexists=[[#{The.order.number.already.exists}]];

    </script>
<!--end-->
</body>
</html>