<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增清关系统基础数据表处理')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-data-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">[[#{Bag.TrackNumber1}]]：</label>
                <div class="col-sm-8">
                    <input name="tackingNumber1" id="tackingNumber1" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Bag.TrackNumber2}]]：</label>
                <div class="col-sm-8">
                    <input name="tackingNumber2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">[[#{packet.number}]]：</label>
                <div class="col-sm-8">
                    <input name="bagNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Outer.box.number}]]：</label>
                <div class="col-sm-8">
                    <input name="boxNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Pallet.number}]]：</label>
                <div class="col-sm-8">
                    <input name="palletNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Container.number}]]：</label>
                <div class="col-sm-8">
                    <input name="containerNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Reference.code1}]]：</label>
                <div class="col-sm-8">
                    <input name="reference1" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Reference.code2}]]：</label>
                <div class="col-sm-8">
                    <input name="referrnce2" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Shipper.Name}]]：</label>
                <div class="col-sm-8">
                    <input name="shipperName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Shipper.identification.code}]]：</label>
                <div class="col-sm-8">
                    <input name="shipperReference" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Consignee.Name}]]：</label>
                <div class="col-sm-8">
                    <input name="consigneeName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Shipping.address1}]]：</label>
                <div class="col-sm-8">
                    <textarea name="lineAddress1" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Shipping.address2}]]：</label>
                <div class="col-sm-8">
                    <textarea name="lineAddress2" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Shipping.address3}]]：</label>
                <div class="col-sm-8">
                    <textarea name="lineAddress3" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{City}]]：</label>
                <div class="col-sm-8">
                    <input name="town" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{States.and.counties}]]：</label>
                <div class="col-sm-8">
                    <input name="state" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{zipcode}]]：</label>
                <div class="col-sm-8">
                    <input name="postCode" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Country.code}]]：</label>
                <div class="col-sm-8">
                    <input name="countryCode" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Email}]]：</label>
                <div class="col-sm-8">
                    <input name="email" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Tel}]]：</label>
                <div class="col-sm-8">
                    <input name="phone" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Number.of.packages}]]：</label>
                <div class="col-sm-8">
                    <input name="pieces" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Weight}]]：</label>
                <div class="col-sm-8">
                    <input name="weight" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Unit.of.weight}]]：</label>
                <div class="col-sm-8">
                    <input name="weightUom" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Value}]]：</label>
                <div class="col-sm-8">
                    <input name="value" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{freight}]]：</label>
                <div class="col-sm-8">
                    <input name="shippingRate" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Currency}]]：</label>
                <div class="col-sm-8">
                    <input name="currency" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">DDU/DDP：</label>
                <div class="col-sm-8">
                    <input name="incoterms" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Import.purpose}]]：</label>
                <div class="col-sm-8">
                    <input name="importPurpose" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{unknown}]]：</label>
                <div class="col-sm-8">
                    <input name="eoriNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{unknown}]]：</label>
                <div class="col-sm-8">
                    <input name="mossNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Description.of.goods}]]：</label>
                <div class="col-sm-8">
                    <textarea name="description" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{customs.code}]]：</label>
                <div class="col-sm-8">
                    <input name="hsCode" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{The.quantity.of.goods}]]：</label>
                <div class="col-sm-8">
                    <input name="itemQuantity" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{The.price.of.goods}]]：</label>
                <div class="col-sm-8">
                    <input name="itemValue" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{unknown}]]：</label>
                <div class="col-sm-8">
                    <input name="skuNumber" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{return.way}]]：</label>
                <div class="col-sm-8">
                    <input name="returnInstruction" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">[[#{Sales.link}]]：</label>
                <div class="col-sm-8">
                    <textarea name="salesLink" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Terminal.dispatcher}]]：</label>
                <div class="col-sm-8">
                    <input name="lastMileProvider" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">[[#{Terminal.account.name}]]：</label>
                <div class="col-sm-8">
                    <input name="lastMileAccountName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">末端服务：</label>
                <div class="col-sm-8">
                    <input name="lastMileService" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:src="@{/js/app/impbasicdata/add.js}"></script>
</body>
</html>