<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('清关系统基础数据表处理列表')" />
    <style>
           #agentdataTable>tbody>tr:hover{background-color:#d6ecf0}
    </style>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div id="bing" style="width: 500px;height:400px;float:left"></div>
        <div id="zhu" style="width: 500px;height:400px;float:left"></div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:src="@{/js/app/datastatis/shipperdatastatis.js}"></script>    
</body>
</html>