@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "微软雅黑"
}
a {
    text-decoration: none
}
ul {
    list-style: none
}
.card-fouth {
    padding: 10px;
    background: rgba(246,246,246,.31)
}
.card-fouth .sub-title {
    margin-bottom: 32px;
    text-align: center;
    font-size: 40px;
    color: #333
}
.card-fouth .desc.desc-list {
    font-size: 0;
    color: #3a3a3a;
    font-weight: 200;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
/*顶部分类*/
.card-fouth .industry {
    font-size: 20px;
    color: #999;
    padding: 15px 0;
    display: inline-block;
    border-bottom: 1px solid hsla(0,0%,85%,.4);
    width: 120px
}
.card-fouth .industry.first {
    padding-left: 0
}
.card-fouth .industry.last {
    padding-right: 0
}
.card-fouth .industry.active {
    padding-bottom: 14px
}
.card-fouth .industry span {
    font-family: PingFang SC;
    font-weight: 200
}
.card-fouth .industry.active span {
    font-size: 25px;
    font-weight: 700;
    color: #44cef6;
    border-bottom: 3px solid #44cef6;
    padding-bottom: 5px;
    font-weight: 500
}
/*内容*/
.card-fouth{
    width: 100%;
    margin: 0 auto;
}
 .case-container {
    width: 100%;
    margin: 0 auto;
    height: 80%
}
.card-fouth .case-panel {
   position: absolute;
    z-index: 1;
    opacity: 0;
    overflow: hidden;
    padding-left: 35px
}
.card-fouth .case-panel.active {
    z-index: 100;
    opacity: 1;
    -webkit-transition: all .2s ease-out .1s;
    transition: all .2s ease-out .1s
}
/*内容左侧*/
.card-fouth .case-left {
    display: inline-block;
    vertical-align: top
}

/*内容右侧*/
.card-fouth .case-head {
    font-size: 43px;
    color: #242424;
    margin-bottom: 20px;
    font-weight: 500
}
.card-fouth .case-text {
    font-size: 18px;
    color: #141414;
    padding-bottom: 22px;
    height: 107px
}

.card-fouth .industry-tab-line {
    height: 2px;
    background: #2267fa;
    top: 164px;
    
    -webkit-transition: all .3s;
    transition: all .3s
}


	
   	.leftFormDiv{
   		float:left;
   		width:30%;
   		height:80%;
		box-shadow:0px 10px 10px -5px #3d3b4f;
		margin-left:10px;
		padding:5px 20px 5px 5px;
   	}
   	.rightTranRule{
   		float:left;
   		width:66%;
   		height:80%;
   		margin-left:20px;
   		box-shadow:0px 10px 10px -5px #3d3b4f;
   	}
     .chargeRules{
		width:100%;heigth:30px;font-size:25px;
		padding:5px;
		color:#ff2d51;
		background-color:#d6ecf0;
		text-align:center;
	}
   	
   	#batchImport{
   		float:left;
   		width:96%;
   		margin-left:2%;
   		height:50px;
   		background-color:#d6ecf0;
   		text-align:center;
   		line-height:50px;
   		font-size:20px;
   		transition:all 0.6s;
   		border-radius:5px;
   		position:absolute;bottom:20px;
   	}
   	#batchImport:hover{
   		transform: scale(1);
   	}
    ul,li{padding: 0;margin: 0}
	.mySelect .inputWrap{
		width:100%;
		min-height: 40px;
		border: 1px solid #ccc;
		border-radius: 3px;
		position: relative;
		cursor: pointer;
	}
	.mySelect ul{
		padding:0 5px ;
		margin: 0;
		padding-right: 35px;
	}
	.mySelect ul,li{
		list-style: none;
	}
	.mySelect li{
		display: inline-block;
		background: #eaeaea;
		padding: 5px;
		margin: 5px 5px 5px 0;
		border-radius: 5px;
	}
	.mySelect .fa-close{
		cursor: pointer;
	}
	.mySelect .fa-close:hover{
		color: #237eff;
	}
	.mySelect .mySelect-option{
		width: 100%;
		border: 1px solid #ccc;
		max-height: 185px;
		overflow-y: scroll;
		height: 0;
		opacity:1 !important;
		background-color:#ffffff;
		
	}
	.mySelect .mySelect-option div{
		padding: 5px;
		height:30px;
	}
	.mySelect .inputWrap>i{
		position: absolute;
		padding: 13px;
		right: 0;
		top: 0;
	}
	.mySelect-option div{
		cursor: pointer;
		border-bottom: 1px solid #e7e7e7;
		margin: 5px;
	}
	.mySelect-option div i{
		float: right;
		color: #ffffff;
	}
	.mySelect-option div.selected{
		background: #237eff;
		color: #ffffff;
		border-radius: 5px;
	}
	.mySelect-option div:hover{
		color: #9ec6ff;
		border-bottom: 1px solid #9ec6ff;
	}
