<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Imperial System</title>
    <link href="#" th:href="@{/css/login.min.css}" rel="stylesheet"/>
</head>
<body class="signin" style="background-image:url('/img/login-background2.jpg')">
<div class="signinpanel" style="alignment: center;text-align:center;">
    <h1 style="text-align:center;margin-top:60px;color: #f0ad4e">您的账户已激活！<span id="countdown">6</span>秒后跳转到<a href="/login">登录页面</a></h1>
</div>

<script src="#" th:src="@{/js/app/register/active.js}"></script>
</body>
</html>